*/.ipynb_checkpoints/*
.ipynb_checkpoints

**/__pycache__/
bams/
genomes/
input/
_input/
_output/
output/
introns/
annotations/
prototypes/
pl
.idea/
.git/
.snakemake/

docs/make.bat
docs/_build/*
docs/_statis/*
docs/_templates/*

**.pl
**.pm
